<mapper namespace="cn.redblood.dao.IUserDao">

<!--    sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="selectList" resultType="cn.redblood.pojo.User">
        select * from user
    </select>

<!--
    User user = new User()
    user.setId(1)
    user.setUsername("zhangsan")
-->
    <select id="findByCondition" resultType="cn.redblood.pojo.User" parameterType="cn.redblood.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

</mapper>